#main-layout {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 50px;
}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    figure {
        height: 100%;
        width: 100%;

        figcaption {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        video {
            aspect-ratio: 350 / 260;
        }
    }
}

.image-process-section {
    display: flex;
    flex-direction: column;
    min-height: 250px;

    .image-process-output {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding: 50px;

        min-height: 400px;

        .captured-frame-container {

            .captured-frame-root {
                width: 100%;
                height: 100%;
            }

            .image-placeholder {
                height: 100%;
                background-color: #2a2a2a;
            }
        }

        .prediction-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            .prediction-container-results {
                height: 100%;
                background-color: #2a2a2a;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.about-section {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    article {
        display: flex;
        flex-direction: row;
        gap: 20px;

        a {
            color: white;
        }
    }

    .repo-label {
        font-weight: 600;
    }
}

.architecture-section {

    img {
        width: 100%;
        background-color: rgb(161, 161, 161);
        border-radius: 20px;
    }
}