.image-process-buttons {
    display: flex;
    justify-content: space-evenly;
}

.image-process-buttons button {
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}